<!doctype html>

<html lang="en">
<title> Hubspot Code exercise</title>
<link href= "/styles/dist/allstyles.min.css" rel = "stylesheet" type = "text/css" />
<% include ../partials/_fonts.ejs %>

<div class = "splitter"> </div>
<head> 
<% include ../partials/_testimonial.ejs %>
</head> 
<div class = "splitter"> </div>
<body>

 <div>
 <% include ../partials/_cta.ejs %>
 </div>
 <div class = "splitter"> </div>

 <div>
 <div> <a href = "/books"> Click Here For Just Books </a> </div>
 <div> <a href = "/movies"> Click Here For Just Movies </a> </div>
 <% include ../partials/_filterable-content.ejs %>
 </div>

 <div id = "medias-wrapper" class = "content-padding clearfix"> 

 <% for (var i in books) { %>
   <div class = "media">
     <image class = "image" src = <%= books[i].poster %> />
   </div>
  <% } %>
 </div>
</body>
</html>  
